/* Write your CSS here */
.data-div {
  width: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #cbd5e1 solid;
  border-top: 0px;
  padding: 10px;
  padding-left: 22px;
  margin-bottom: 0px;
}

.p4 {
  color: #1e293b;
  margin: 0px;
  font-size: 10px;
}
.p5 {
  color: #1e293b;
  margin: 0px;
  font-size: 10px;
}
.p6 {
  color: #1e293b;
  margin: 0px;
  font-size: 10px;
}
.p7 {
  background-color: transparent;
  border: none;
  margin: 0px;
}
.delete-img {
  margin: 0px;
  height: 16px;
}
